<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include ('navbar') %>
        <h1>contact us!</h1>
    </body>
</html>